{% extends "base.html" %}
{% block content %}
                <form class="form-horizontal">
                    <h2 class="form-signin-heading">New question</h2>
                    <div class="alert alert-danger">
                        Sorry, enter your question please!
                    </div>
                    <div class="form-group">
                        <label for="exampleInputTitle1" class="col-sm-2 control-label">Title</label>
                        <div class="col-sm-5">
                            <input type="title" class="form-control" id="exampleInputTitle1" placeholder="Title">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="exampleInputText1">Description</label>
                        <div class="col-sm-5">
                            <textarea class="form-control" rows="5" id="exampleInputText1" placeholder="Text"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputTags1" class="col-sm-2 control-label">Tags</label>
                        <div class="col-sm-5">
                            <input type="tags" class="form-control" id="exampleInputTags1" placeholder="Tags">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2">
                            <button class="btn btn-lg btn-primary " type="submit">Ask!</button>
                        </div>
                    </div>
                </form>
{% endblock %}